 /* header */
 .メニューバー{
  background-color: rgb(22, 22, 22); color: rgb(219, 219, 219);
  text-align: center;
}

.メニューバー p{
  display: inline-block; font-size: 12px;
  margin-bottom: 0px; border: none;
margin-top: 12px; margin-bottom: 6px;}

.メニューバー a{
  color: aqua; text-decoration: none;}
  
  .twitter img{
    width: 22px; height: 22px; border-radius: 50%;
  }
    
  .twitter{float: right; margin-top: 8px;}

body {
  background: rgb(22, 22, 22);
  font-size: 14px;
  font-family: Verdana, sans-serif;
  color: white;
  max-width: 400px;
  margin: auto;
  padding: 1px 3px;
}

h1{
  font-size: 30px;
  margin-bottom: 18px;
  font-weight: 400;
  padding-left: 8px;
  border-left: 8px chocolate solid;
}
 h2{
   font-size: 20px;
   margin-bottom: 48px;
   font-weight: 400;
   margin-left: 20px;
 }

 #start p{
   font-size: larger;
   line-height: 32px;
   font-weight: lighter;
   text-align: center;
 }

#container {
    margin: 8px auto;
    padding: 16px;
    position: relative;
  }

#question {
  margin-bottom: 16px;
  font-size: larger;
  line-height: 2.1em;
}

#choices {
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
}

#choices > li {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  color: rgb(22, 22, 22);
  font-size: larger;
  font-weight: bold;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 16px;
  cursor: pointer;
}


#choices > li.correct {
  background-color: rgb(107, 180, 107);
  border-color: #c3e6cb;
  color: #000000;
  font-weight: bold;
}

#choices > li.correct::after {
  content: ' ... 正解！!';
}

#choices > li.wrong {
  background: #fa727b;
  border-color: #e4b6bb;
  color: #000000;
  font-weight: bold;
}

#choices > li.wrong::after {
  content: ' ... 不正解';
}

#btn, #startbtn, #back{
  background-color: rgb(52, 52, 221);
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 0 #2880b9;
  margin-top: 36px;
}

#btn.disabled {
  background: #ccc;
  box-shadow: 0 4px 0 #bbb;
  opacity: 0.7;
}

#result{
  position: absolute;
  width: 280px;
  background:rgb(173, 131, 131);
  padding: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  transition: 1s;
}

#scoreboard{
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 20px;
}

#trueAnswer{
  padding-left: 0px;
  padding-bottom: 10px;
  font-weight: normal;
  font-size:17px;
  line-height: 26px;
  list-style: none;
}

#trueAnswer li {
  margin-bottom: 13px;
}

#result > a{
  padding: 10px;
text-decoration: none;
  width: 80%;
   background-color: rgb(255, 255, 255);
 border-radius: 4px;
 margin: 0px 10px 0px;
 color: rgb(22, 22, 22);
}

#result.animation{
  transform: translateY(-2000px);
}

.hidden{
  display: none;
}

canvas{
  margin: auto;
  padding: 20px 0px 0px;
}

#back a{
color: white;
text-decoration: none;
}